django>5.0
djangorestframework
requests
xlwt
beautifulsoup4
django-cors-headers
mysqlclient
pymysql
gevent
gunicorn
django-haystack
whoosh
jieba
django-ckeditor-5
pillow
celery
django-celery-beat
django-celery-results
redis
django-redis
django-debug-toolbar
selenium
pyvirtualdisplay