nav .navbar  > li .dropdown-menu {
    margin: 0;
}

nav .navbar > li:hover .dropdown-menu {
    display: block;
}

.list-title {
    height: 50px;
    line-height: 50px;
    background-color: #0f6db4;
    color: #fff;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.45em;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    padding-left: 15px;
    margin-top: 20px;
}

.copyright-content {
    background: #1f2428;
    margin: 30px auto;
    padding: 20px auto;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-family: "Microsoft YaHei";
}

.team-info {
    font-family: "Microsoft YaHei";
    margin: 20px auto;
}

.table-title {
    line-height: 50px;
    width: 100%;
    position: relative;
    background-color: #0f6db4;
    color: #fff;
    font-size: 24px;
    padding-left: 15px;
    margin-top: 20px;
}

.member-img {
    max-width: 42px;
    width: 42px;
    display: inline-block;
    margin: 0 7px;
}

#member-list td {
    vertical-align: middle;
}

.info-card {
    border-top: 2px solid #5fade4;
    background-color: #fff;
    font-size: 14px;
    margin: 8px auto;
}

.avatar {
    position: relative;
    text-align: center;
}

.avatar h3 {
    font-size: 24px;
    line-height: 36px;
}

.avatar em {
    font-size: 18px;
    font-family: Arial,sans-serif;
    color: #626262;
    line-height: 34px;
}

.detail {
    margin-top: 10px;
}

.info-panel {
    background-color: #f8f8f8;
    border-bottom: 1px solid #f1f1f1;
    padding: 14px 0;
}