/*媒体查询：注意and后面空格的添加*/
/*iphone: w < 768px*/
@media screen and (max-width: 768px){
    #map-main{
        width:100%;
        height: 400px;
        background-color: green;
    }
}
/*pad: w >= 768  && w< 992*/
@media screen and (max-width: 992px) and (min-width: 768px) {
    #map-main{
        width:750px;
        height: 500px;
    }
}
/*中等屏幕   w >= 992  && w<1200*/
@media screen and (max-width: 1200px) and (min-width: 992px) {
    #map-main{
        width:100%;
        height: 550px;
    }
}
/* 大屏幕 */
@media screen and (min-width: 1200px){
    #map-main{
        width:100%;
        height: 600px;
    }
}