{% extends "modian/base.html" %}

{% block title %}六一特别活动详情{% endblock %}

{% block content %}
    <h4>六一特别活动详情</h4>
    <table class="display table table-hover" data-toggle="table"
                data-mobile-responsive="true"
                data-striped="true">
        <thead>
            <tr class="text-center">
                <th></th>
                <th>冯晓菲</th>
                <th>汪佳翎</th>
            </tr>
        </thead>
        <tbody>
                <tr class="text-center">
                    <td>捣乱次数</td>
                    <td>{{ fxf_make_trouble_times }}</td>
                    <td>{{ wjl_make_trouble_times }}</td>
                </tr>
                <tr class="text-center">
                    <td>获得10分的次数</td>
                    <td>{{ fxf_make_plus_10_times }}</td>
                    <td>{{ wjl_make_plus_10_times }}</td>
                </tr>
                <tr class="text-center">
                    <td>集资人数</td>
                    <td>{{ fxf_supporter_num }}</td>
                    <td>{{ wjl_supporter_num }}</td>
                </tr>
                <tr class="text-center">
                    <td>基本分数（集资分数）</td>
                    <td>{{ fxf_basic_points }}</td>
                    <td>{{ wjl_basic_points }}</td>
                </tr>
                <tr class="text-center">
                    <td>己方捣乱加分（每5次+10分）</td>
                    <td>{{ fxf_make_trouble_points }}</td>
                    <td>{{ wjl_make_trouble_points }}</td>
                </tr>
                <tr class="text-center">
                    <td>对方捣乱扣分</td>
                    <td>-{{ fxf_make_trouble_minus_points }}</td>
                    <td>-{{ wjl_make_trouble_minus_points }}</td>
                </tr>
                <tr class="text-center">
                    <td>对方通过达成加+10分给本方扣分</td>
                    <td>-{{ fxf_bonus_minus_points }}</td>
                    <td>-{{ wjl_bonus_minus_points }}</td>
                </tr>
                <tr class="text-center">
                    <td>人头数得分</td>
                    <td>{{ fxf_supporter_points }}</td>
                    <td>{{ wjl_supporter_points }}</td>
                </tr>
                <tr class="text-center">
                    <td>总分</td>
                    <td>{{ fxf_total_points }}</td>
                    <td>{{ wjl_total_points }}</td>
                </tr>

        </tbody>
    </table>
<div>
规则：
    <ol>
        <li>
            冯晓菲方计分规则
            <table class="display table table-hover" data-toggle="table"
                data-mobile-responsive="true"
                data-striped="true">
                <thead>
                    <th>集资金额</th>
                    <th>分数变化</th>
                </thead>
                <tbody>
                    <tr class="text-center">
                         <td><10.17</td>
                        <td>0</td>
                    </tr>
                    <tr class="text-center">
                        <td>10.17~50</td>
                        <td>+1</td>
                    </tr>
                    <tr class="text-center">
                        <td>50~101.7</td>
                        <td>+5</td>
                    </tr>
                    <tr class="text-center">
                        <td>>=101.7</td>
                        <td>+10，每多10元再加1分（从100开始计算）</td>
                    </tr>
                    <tr class="text-center">
                        <td>99.9（捣乱）</td>
                        <td>对方-9</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>
            汪佳翎方计分规则
            <table class="display table table-hover" data-toggle="table"
                data-mobile-responsive="true"
                data-striped="true">
                <thead>
                    <th>集资金额</th>
                    <th>分数变化</th>
                </thead>
                <tbody>
                    <tr class="text-center">
                         <td><7.13</td>
                        <td>0</td>
                    </tr>
                    <tr class="text-center">
                        <td>7.13~50</td>
                        <td>+1</td>
                    </tr>
                    <tr class="text-center">
                        <td>50~71.3</td>
                        <td>+7</td>
                    </tr>
                    <tr class="text-center">
                        <td>>=71.3</td>
                        <td>+10，每多7元再加1分（从70开始计算）</td>
                    </tr>
                    <tr class="text-center">
                        <td>99.9（捣乱）</td>
                        <td>对方-5</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li>
            每5次捣乱为己方+10分
        </li>
        <li>每有5次+10分项目 为对方-10分</li>
        <li>PK结束后，人头数胜利方+61分</li>
    </ol>
</div>
{% endblock %}