{% extends "modian/base.html" %}

{% block title %}抽福统计{% endblock %}

{% block content %}

    <h4>抽福统计</h4>
    <table class="display table table-hover" data-toggle="table"
                data-pagination="true"
                data-sort-stable="true"
                data-page-list="[10, 20, 50, 100]"
                data-mobile-responsive="true"
                data-page-size=20
                data-striped="true"
                data-search="true"
                data-search-on-enter-key="true"
                data-show-columns="true"
                data-show-fullscreen="true">
        <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>学业福</th>
                <th>魔法福</th>
                <th>吹风福</th>
                <th>冲冲福</th>
                <th>巨款福</th>
                <th>拍立得</th>
                <th>签名</th>
                <th>口头祝福</th>
                <th>大礼包</th>
                <th>乐高</th>
                <th>赫敏大头</th>
            </tr>
        </thead>
        {% if records %}
        <tbody>
            {% for s_id, v in records.items %}
            <tr class="text-center">
                <td>{{ v.supporter_name }}</td>
                
                <td>{{ v.cards.0.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.1.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.2.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.3.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.4.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.5.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.6.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.7.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.8.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.9.count | default_if_none:"0" }}</td>
                <td>{{ v.cards.10.count | default_if_none:"0" }}</td>
            </tr>
            {% endfor  %}
        </tbody>
        {% endif %}
    </table>

{% endblock %}