{% extends "modian/base.html" %}

{% block title %}订单{% endblock %}

{% block content %}
    {% if order_list %}
    <h4>订单列表</h4>
    <div class="container-fluid">
        <table class="display table table-hover">
            <thead>
                <tr class="text-center d-flex">
                    <th class="col-4">时间</th>
                    <th class="col-3">ID</th>
                    <th class="col-3">金额</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="text-center d-flex">
                        <td class="col-4">{{ order.pay_time }}</td>
                        <td class="col-3">{{ order.nickname }}</td>
                        <td class="col-3">{{ order.backer_money }}元</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if orders.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ orders.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                </span>

                {% if orders.has_next %}
                    <a href="?page={{ orders.next_page_number }}">next</a>
                    <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    {% endif %}
{% endblock %}