{% extends "modian/base.html" %}

{% block title %}订单{% endblock %}

{% block content %}
    {% if orders %}
    <h4>订单列表</h4>
    <div class="container-fluid">
        <table class="display table table-hover" data-toggle="table"
                data-search="true"
                data-search-on-enter-key="true">
            <thead>
                <tr class="text-center d-flex">
                    <th class="col-4">时间</th>
                    <th class="col-3">ID</th>
                    <th class="col-3">金额</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="text-center d-flex">
                        <td class="col-4">{{ order.pay_time }}</td>
                        <td class="col-3">{{ order.supporter.name }}</td>
                        <td class="col-3">{{ order.backer_money }}元</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!--<nav aria-label="Page navigation example">-->
          <!--<ul class="pagination">-->
            <!--<li class="page-item">-->
                <!--{% if orders.has_previous %}-->
                  <!--<a class="page-link" href="?page={{ orders.previous_page_number }} aria-label="Previous">-->
                    <!--<span aria-hidden="true">&laquo;</span>-->
                    <!--<span class="sr-only">Previous</span>-->
                  <!--</a>-->
                <!--{% endif %}-->
            <!--</li>-->
            <!--Page {{ orders.number }} of {{ orders.paginator.num_pages }}.-->
              <!--{% if orders.has_next %}-->
                <!--<li class="page-item">-->
                  <!--<a class="page-link" href="#" aria-label="Next">-->
                    <!--<span aria-hidden="true">&raquo;</span>-->
                    <!--<span class="sr-only">Next</span>-->
                  <!--</a>-->
                <!--</li>-->
                <!--{% endif %}-->
          <!--</ul>-->
        <!--</nav>-->

        <div class="pagination">
            <span class="step-links">
                {% if orders.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ orders.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                </span>

                {% if orders.has_next %}
                    <a href="?page={{ orders.next_page_number }}">next</a>
                    <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    {% endif %}
{% endblock %}