<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.19.1/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.2.4/swiper-bundle.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.19.1/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.19.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
`   <!-- Optional JavaScript -->
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.13.18/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.0/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/9.2.4/swiper-bundle.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.47/vue.global.js"></script>


    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'snh48/css/style.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">SNH48</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  队伍
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'snh48:team_list' %}">全部</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'snh48:team_info' 101 %}">Team SII</a>
                  <a class="dropdown-item" href="{% url 'snh48:team_info' 102 %}">Team NII</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 103 %}">Team HII</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 104 %}">Team X</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 150 %}">SNH预备生</a>
                    <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'snh48:team_info' 211 %}">BEJ48</a>
                    <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'snh48:team_info' 301 %}">Team G</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 302 %}">Team NIII</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 303 %}">Team Z</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 305 %}">GNZ预备生</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'snh48:team_info' 505 %}">CKG48</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 505 %}">CKG预备生</a>
                    <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'snh48:team_info' 601 %}">Team CII</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 602 %}">Team GII</a>
                    <a class="dropdown-item" href="{% url 'snh48:team_info' 610 %}">CGT预备生</a>
                </div>
              </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'snh48:index' %}" id="memberDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  成员
                </a>
                <div class="dropdown-menu" aria-labelledby="memberDropdown">
                  <a class="dropdown-item" href="{% url 'snh48:index' %}">在团成员</a>
                  <a class="dropdown-item" href="{% url 'snh48:hiatus_list' %}">退团成员</a>
                </div>
              </li>
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="{% url 'snh48:index' %}">成员<span class="sr-only">(current)</span></a>-->
<!--              </li>-->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'snh48:performance_history_index' %}">公演</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'snh48:bilibili_stat_index' %}">B站数据</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'snh48:compare' %}">数据对比</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'snh48:performance_rank' %}">排名</a>
                </li>
            </ul>
{#            <form class="form-inline my-2 my-lg-0">#}
{#              <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">#}
{#              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">搜索</button>#}
{#            </form>#}
          </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer class="container-fluid footer">
    <div class="col-lg-12 col-sm-12 col-xs-12 copyright-content">
        <p>2020-2023 billjyc © 版权所有  ICP证: <a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2022005323号-1</a></p>
        <p>如果有数据上的问题，请联系我: <a href="mailto:793746995@qq.com">793746995@qq.com</a></p>
    </div>

</footer>
</html>