{% extends "snh48/base.html" %}

{% block title %}B站录播数据{% endblock %}

{% block content %}
<h4>公演B站录播数据</h4>
{% if bilibili_list %}
<div class="container-fluid">
    <table class="table" data-toggle="table"
                data-search="true"
                data-search-on-enter-key="true"
                data-striped="true"
                data-undefined-text="-"
                data-mobile-responsive="true">
        <thead>
            <tr class="text-center">
                <th>日期</th>
                <th>队伍</th>
                <th>公演</th>
                <th>备注</th>
                <th>播放量</th>
                <th>弹幕</th>
            </tr>
        </thead>
        <tbody>
            {% for bs in bilibili_list %}
                <tr class="text-center">
                    <td><a href="{% url 'snh48:performance_history_detail' bs.performance_history.id %}">{{ bs.performance_history.date }}</a></td>
                    <td>
                        {% if bs.performance_history.performance.team %}
                            {{ bs.performance_history.performance.team }}
                        {% endif %}
                    </td>
                    <td>{{ bs.performance_history.performance.name }}</td>
                    <td>{{ bs.performance_history.description }}</td>
                    <td>{{ bs.view }}</td>
                    <td>{{ bs.danmaku }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination row">
            <span class="step-links">
                {% if bilibili_list.has_previous %}
                    <a href="?page=1">&laquo;</a>
                    <a href="?page={{ bilibili_list.previous_page_number }}">上一页</a>
                {% endif %}
                {% if bilibili_list.previous_page_number|add:-1 > 1 %}
                    <a href="?page={{ bilibili_list.previous_page_number|add:-1 }}">{{ bilibili_list.previous_page_number|add:-1 }}</a>
                {% endif %}

                {% if bilibili_list.has_previous %}
                    <a href="?page={{ bilibili_list.previous_page_number }}">{{ bilibili_list.previous_page_number }}</a>
                {% endif %}

                <span class="current">
                    {{ bilibili_list.number }}
                </span>


                {% if bilibili_list.has_next %}
                    <a href="?page={{ bilibili_list.next_page_number }}">{{ bilibili_list.next_page_number }}</a>
                {% endif %}

                {% if bilibili_list.next_page_number|add:1 < bilibili_list.paginator.num_pages %}
                    <a href="?page={{ bilibili_list.next_page_number|add:1 }}">{{ bilibili_list.next_page_number|add:1 }}</a>
                {% endif %}

                {% if bilibili_list.has_next %}
                    <a href="?page={{ bilibili_list.next_page_number }}">下一页</a>
                    <a href="?page={{ bilibili_list.paginator.num_pages }}">&raquo;</a>
                {% endif %}
                <span>共{{ bilibili_list.paginator.num_pages }}页</span>
            </span>
        </div>
</div>

{% endif %}
{% endblock %}

{% block js_block %}
{% endblock %}