<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成员</title>
</head>

<body>
    <ul>
        {% for member in team_sii %}
            <li><a href="{% url 'member_detail' member.id %}">{{ member.name }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <ul>
        {% for member in team_nii %}
            <li><a href="{% url 'member_detail' member.id %}">{{ member.name }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <ul>
        {% for member in team_hii %}
            <li><a href="{% url 'member_detail' member.id %}">{{ member.name }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <ul>
        {% for member in team_x %}
            <li><a href="{% url 'member_detail' member.id %}">{{ member.name }}</a></li>
        {% endfor %}
    </ul>
    <br />

    <ul>
        {% for member in team_xii %}
            <li><a href="{% url 'member_detail' member.id %}">{{ member.name }}</a></li>
        {% endfor %}
    </ul>
    <br />
</body>
</html>