{% extends "snh48/base.html" %}

{% block title %}成员{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-8">
<!--    <div class="row">-->
<!--        <div class="col-4">-->
            <h4>Team SII</h4>
            <div class="table-responsive">
            <table class="display table table-bordered" data-toggle="table"
                   data-mobile-responsive="true"
                   data-striped="true">
            <tbody>
                {% for member in team_sii %}
                    {% if forloop.counter0|divisibleby:8 %}
                        <tr class="text-center">
                    {% endif %}
                    <td>
                    <a href="{% url 'snh48:member_detail' member.id %}">{{ member.name }}</a>
                    </td>
                    {% if forloop.counter0|add:1|divisibleby:8 %}
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            </table>
            </div>
    <br/>
<!--    </div>-->
<!--    <div class="row">-->
<!--        </div>-->
<!--        <div class="col-4">-->
            <h4>Team NII</h4>
            <div class="table-responsive">
            <table class="display table table-bordered" data-toggle="table"
                   data-mobile-responsive="true"
                   data-striped="true">
            <tbody>
                {% for member in team_nii %}
                    {% if forloop.counter0|divisibleby:8 %}
                        <tr class="text-center">
                    {% endif %}
                    <td>
                    <a href="{% url 'snh48:member_detail' member.id %}">{{ member.name }}</a>
                    </td>
                    {% if forloop.counter0|add:1|divisibleby:8 %}
                    </tr>
                {% endif %}
                {% endfor %}
                        </tbody>
            </table>
            </div>
    <br/>
<!--    </div>-->
<!--        </div>-->
<!--          <div class="col-4">  -->
<!--  <div class="row">  -->
            <h4>Team HII</h4>
            <div class="table-responsive">
            <table class="display table table-bordered" data-toggle="table"
                   data-mobile-responsive="true"
                   data-striped="true">
            <tbody>
                {% for member in team_hii %}
                    {% if forloop.counter0|divisibleby:8 %}
                        <tr class="text-center">
                    {% endif %}
                    <td>
                    <a href="{% url 'snh48:member_detail' member.id %}">{{ member.name }}</a>
                    </td>
                    {% if forloop.counter0|add:1|divisibleby:8 %}
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            </table>
            </div>
    <br/>
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-4">-->
            <h4>Team X</h4>
            <div class="table-responsive">
            <table class="display table table-bordered" data-toggle="table"
                   data-mobile-responsive="true"
                   data-striped="true">
            <tbody>
                {% for member in team_x %}
                    {% if forloop.counter0|divisibleby:8 %}
                        <tr class="text-center">
                    {% endif %}
                    <td>
                    <a href="{% url 'snh48:member_detail' member.id %}">{{ member.name }}</a>
                    </td>
                    {% if forloop.counter0|add:1|divisibleby:8 %}
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            </table>
            </div>
    <br/>
<!--        </div>-->
<!--        <div class="col-4">-->
            <h4>已退</h4>
            <div class="table-responsive">
            <table class="display table table-bordered" data-toggle="table"
                   data-mobile-responsive="true"
                   data-striped="true">
            <tbody>
                {% for member in hiatus %}
                    {% if forloop.counter0|divisibleby:8 %}
                        <tr class="text-center">
                    {% endif %}
                    <td>
                    <a href="{% url 'snh48:member_detail' member.id %}">{{ member.name }}</a>
                    </td>
                    {% if forloop.counter0|add:1|divisibleby:8 %}
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            </table>
            </div>
    <br/>
<!--        </div>-->
<!--    </div>-->
    </div>
    </div>
{% endblock %}