{% extends "snh48/base.html" %}
{% load static %}
{% block title %}
    {{ member.name }} {{ member.team.name }}
{% endblock %}

{% block content %}
    <style>

        .swiper-slide {
            text-align: center;
            font-size: 18px;
        {#background: #fff;#} display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
            <div class="row info-panel layout justify-content-center" id="info-card">
                <div class="col-md-3 col-sm-8 info-card avatar justify-content-center">
                    <img src="{{ member.image_link }}" class="img-responsive" loading="lazy"
                         style="max-height: 260px;"/>
                    <h3>{{ member.name }}</h3>
                    <em>{{ member.english_name }}</em>
                </div>
                <div class="col-md-4 col-sm-8 info-card justify-content-center">
                    <h2>成员实力</h2>
                    {% if ability %}
                        <div id="ability-charts" style="display: block;padding: 10px 20px;height: 300px;">

                        </div>
                    {% endif %}
                </div>
                <div class="col-md-3 col-sm-8 info-card detail justify-content-center">
                    <!--        <div class="row" style="margin-bottom:10px">-->
                    <!--            <h4>{{ member }}</h4>-->
                    <!--        </div>-->
                    <h2>成员信息</h2>
                    <p style="line-height: 28px">
                        {#                        <div class="col-md-6">#}
                        {#                            <p>昵称: {{ member.nick_name }}</p>#}
                        身高: {{ member.height }}<br/>
                        {#                            <p>血型: {{ member.blood_type }}</p><br/>#}
                        生日: {{ member.birthday }}<br/>
                        {#                            <p>星座: {{ member.constellation }}</p><br/>#}
                        出生地: {{ member.birth_place }} <br/>
                        加入时间: {{ member.join_time }} <br/>
                        加入所属: {{ member.batch }}<br/>
                        {#                        </div>#}
                        {#                        <div class="col-md-6">#}
                        {#                            <p>个人特长: {{ member.speciality }}</p><br/>#}
                        {#                            <p>兴趣爱好: {{ member.hobby }}</p><br/>#}
                        {#                            <p>加入时间: {{ member.join_time }}</p><br/>#}
                        {#                            <p>加入所属: {{ member.batch }}</p><br/>#}
                        {#                            <p>所属公司: {{ member.agency }}</p><br/>#}
                        {#                        </div>#}
                </div>

                {#                    <div class="row">#}
                {#                        <div class="col-md-12">#}
                {#                            <p>经历备注: {{ member.description | linebreaks }}</p>#}
                {#                        </div>#}
                {#                    </div>#}
            </div>
        </div>
    </div>
    {% if transfer_details %}
        <div class="row justify-content-center" style="margin-top:10px">
            <div class="col-md-10 col-sm-12">
                <h3>成员经历</h3>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:10px;margin-bottom:10px">
            <div class="col-md-10 col-sm-12">
                <div id="sliderContainer" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for detail in transfer_details %}
                            <div class="swiper-slide">
                                <div class="content">
                                    <p style="font-size: 32px">
                                        {% if detail.type == 1 %}
                                            🆕
                                        {% elif detail.type == 2 %}
                                            ➡️
                                        {% elif detail.type == 3 %}
                                            ⬇️
                                        {% elif detail.type == 4 %}
                                            ⬆️
                                        {% elif detail.type == 5 %}
                                            🔀
                                        {% elif detail.type == 6 %}
                                            🔂
                                        {% elif detail.type == 7 %}
                                            🔚
                                        {% elif detail.type == 8 %}
                                            🔙
                                        {% elif detail.type == 9 %}
                                            🏅
                                        {% elif detail.type == 10 %}
                                            🏆
                                        {% endif %}
                                    </p>
                                    <p>{{ detail.date }}</p>
                                    <p>{{ detail.description }}</p>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center" style="margin-top:10px">
        <div class="col-md-10">
            <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="p-performance-tab" data-bs-toggle="pill" href="#p-performance"
                       role="tab" aria-controls="p-performance" aria-selected="true">公演概况</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="p-member-tab" data-bs-toggle="pill" href="#p-member"
                       role="tab" aria-controls="p-member" aria-selected="true">公演详情</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="p-unit-tab" data-bs-toggle="pill" href="#p-unit"
                       role="tab" aria-controls="p-unit" aria-selected="false">Unit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="p-weibo-tab" data-bs-toggle="pill" href="#p-weibo"
                       role="tab" aria-controls="p-weibo" aria-selected="false">微博</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="p-performance" role="tabpanel"
                     aria-labelledby="p-performance-tab">
                    {% if performance_num_by_year_list %}
                        <h3>按年份统计</h3>
                        <table class="display table table-hover" data-toggle="table"
                               data-pagination="true"
                               data-page-list="[10, 20, 50, 100]"
                               data-mobile-responsive="true"
                               data-page-size=20
                               data-striped="true">
                            <thead>
                            <tr class="text-center">
                                <th>年份</th>
                                <th>公演场次</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ph in performance_num_by_year_list %}
                                <tr class="text-center">
                                    <td>{{ ph.year }}</td>
                                    <td>{{ ph.count }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="text-center">
                                <td><b>总计</b></td>
                                <td>{{ total_performance_num }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}

                    {% if performance_num_by_team_list %}
                        <h3>按队伍统计</h3>
                        <table class="display table table-hover" data-toggle="table"
                               data-pagination="true"
                               data-page-list="[10, 20, 50, 100]"
                               data-mobile-responsive="true"
                               data-page-size=20
                               data-striped="true">
                            <thead>
                            <tr class="text-center">
                                <th>队伍</th>
                                <th>公演场次</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ph in performance_num_by_team_list %}
                                <tr class="text-center">
                                    <td>{{ ph.team_name }}</td>
                                    <td>{{ ph.count }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="text-center">
                                <td><b>总计</b></td>
                                <td>{{ total_performance_num }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="p-member" role="tabpanel"
                     aria-labelledby="p-member-tab">
                    {% if mph_list %}
                        <table class="display table table-hover" data-toggle="table"
                               data-pagination="true"
                               data-page-list="[10, 20, 50, 100]"
                               data-mobile-responsive="true"
                               data-page-size=20
                               data-striped="true">
                            <thead>
                            <tr class="text-center">
                                <th>公演</th>
                                <th>队伍</th>
                                <th>日期</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ph in mph_list %}
                                <tr class="text-center">
                                    <td>{{ ph.performance }}</td>
                                    <td>{{ ph.team }}</td>
                                    <td>{{ ph.date }}</td>
                                    <td>{{ ph.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">暂无公演记录，敬请期待</div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="p-unit" role="tabpanel" aria-labelledby="p-unit-tab">
                    {% if unit_list %}
                        <table class="display table table-hover" data-toggle="table"
                               data-pagination="true"
                               data-page-list="[10, 20, 50, 100]"
                               data-mobile-responsive="true"
                               data-page-size=20
                               data-striped="true">
                            <thead>
                            <tr class="text-center">
                                <th>日期</th>
                                <th>Unit</th>
                                <th>顺位</th>
                                <th>公演</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in unit_list %}
                                <tr class="text-center">
                                    <td>{{ result.p_date }}</td>
                                    <td>{{ result.unit_name }}</td>
                                    <td>{{ result.unit_rank }}</td>
                                    <td>{{ result.name }}</td>
                                    <td>{{ result.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">暂无Unit曲的表演记录</div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="p-weibo" role="tabpanel"
                     aria-labelledby="p-weibo-tab">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-2">
                            <div class="d-flex justify-content-end">
                                <select id="timeRange" class="form-control">
                                    <option value="all">所有时间</option>
                                    <option value="1m">最近一个月</option>
                                    <option value="3m">最近三个月</option>
                                    <option value="6m">最近半年</option>
                                    <option value="1y">最近一年</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row justify-content-center" style="margin-top:10px">
                        <div class="col-md-10 col-sm-12">
                            <div id="fansChart" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% if transfer_details %}
        <script>
            const swiper = new Swiper('#sliderContainer', {
                slidesPerView: window.innerWidth < 768 ? 2 : 4,
                breakpoints: {
                    640: { slidesPerView: 2 },
                    1024: { slidesPerView: 4 }
                },
                spaceBetween: 20,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
    {% endif %}

    {% if weibo_fans_data %}
        <script>
            $('a[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
                // 获取当前选项卡的目标面板的 ID
                const targetPanelId = $(e.target).attr('href');

                // 找到目标面板内的 ECharts 容器
                const chartContainer = $(targetPanelId).find('#fansChart');

                // 获取该容器的宽度和高度
                const containerWidth = chartContainer.width();
                const containerHeight = chartContainer.height();

                // 通过 ECharts 实例的 resize() 方法重新渲染图表
                const chartInstance = echarts.getInstanceByDom(chartContainer[0]);
                chartInstance.resize({
                    width: containerWidth,
                    height: containerHeight
                });
            });

            const fansData = {{ weibo_fans_data|safe }};
            const chartDom = $('#fansChart')[0];
            const myChart = echarts.init(chartDom);

            // 创建数据集
            const dates = fansData.map(d => d.date);
            const counts = fansData.map(d => d.count);

            // 配置图表选项
            const option = {
                title: {
                    text: '微博粉丝数变化趋势',
                    left: 'center', // 标题的水平对齐方式，可选值有 'left'、'center' 或 'right'
                    top: 'top', // 标题的垂直对齐方式，可选值有 'top'、'middle' 或 'bottom'
                    textStyle: {
                        fontSize: 18,
                        fontWeight: 'bold',
                        color: '#333'
                    }
                },
                xAxis: {
                    type: 'category',
                    data: dates
                },
                yAxis: {
                    type: 'value',
                    min: 'dataMin', // 根据数据自动选择最小值
                },
                series: [{
                    data: counts,
                    type: 'line',
                    smooth: true
                }],
                tooltip: {
                    trigger: 'axis'
                }
            };

            // 设置图表选项
            myChart.setOption(option);
            const timeRangeSelect = $('#timeRange');

            // 获取日期范围
            function filterDataByDateRange(data, dateRange) {
                const endDate = new Date();
                const startDate = new Date(endDate);

                switch (dateRange) {
                    case '1m':
                        startDate.setMonth(startDate.getMonth() - 1);
                        break;
                    case '3m':
                        startDate.setMonth(startDate.getMonth() - 3);
                        break;
                    case '6m':
                        startDate.setMonth(startDate.getMonth() - 6);
                        break;
                    case '1y':
                        startDate.setFullYear(startDate.getFullYear() - 1);
                        break;
                    default:
                        return data;
                }

                return data.filter(function (item) {
                    const itemDate = new Date(item.date);
                    return itemDate >= startDate && itemDate <= endDate;
                });
            }

            // 更新图表
            function updateChart(data) {
                const dates = data.map(function (item) {
                    return item.date;
                });
                const counts = data.map(function (item) {
                    return item.count;
                });

                option.xAxis.data = dates;
                option.series[0].data = counts;

                myChart.setOption(option);
            }

            // 为timeRange下拉菜单添加事件监听器
            timeRangeSelect.on('change', () => {
                const range = timeRangeSelect.val();
                const filteredData = filterDataByDateRange(fansData, range);
                updateChart(filteredData);
            });

            // 初始化图表
            updateChart(fansData);

        </script>
    {% endif %}
    {% if ability %}
        <script>
            let radar_chart = echarts.init(document.getElementById('ability-charts'));
            let option2 = {
                /*
                title: {
                    text: '个人实力'
                },*/
                radar: {
                    name: {
                        textStyle: {
                            color: '#fff',
                            backgroundColor: '#999',
                            borderRadius: 3,
                            padding: [3, 5]
                        }
                    },
                    indicator: [
                        {name: '唱歌', max: 99},
                        {name: '舞蹈', max: 99},
                        {name: 'MC', max: 99},
                        {name: '演技', max: 99},
                        {name: '健康', max: 99},
                        {name: '投入度', max: 99},
                        {name: '领导力', max: 99},
                        {name: '抗压能力', max: 99}
                    ]
                },
                series: [
                    {
                        // name: '能力展现',
                        type: 'radar',
                        // areaStyle: {normal: {}},
                        label: {
                            show: true,
                            formatter: function (params) {
                                return params.value;
                            }
                        },
                        data: [
                            {
                                value: [{{ ability.sing }}, {{ ability.dance }}, {{ ability.variety }},
                                    {{ ability.act }}, {{ ability.health }}, {{ ability.concentration }},
                                    {{ ability.leadership }}, {{ ability.pressure }}],
                                name: '能力',
                                areaStyle: {
                                    opacity: 0.9,
                                    color: new echarts.graphic.RadialGradient(0.5, 0.5, 1, [
                                        {
                                            color: '#B8D3E4',
                                            offset: 0
                                        },
                                        {
                                            color: '#72ACD1',
                                            offset: 1
                                        }
                                    ])
                                }
                            }
                        ]
                    }
                ]
            };
            radar_chart.setOption(option2);
        </script>
    {% endif %}
{% endblock %}