{% extends "snh48/base.html" %}
{% block title %}公演场次排行榜{% endblock %}
{% block content %}
    {% load static %}
    <div class="row justify-content-center">
        <div class="col-8">
            <h4>公演场次排名</h4>
            <form id="filter-form" class="mb-3">
                <label for="team-filter">按队伍筛选：</label>
                <select id="team-filter" name="team" class="form-control" style="width: auto; display: inline;">
                    <option value="">所有队伍</option>
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="table-responsive row">
                <table id="actor-table" class="table table-bordered table-striped"
                       data-toggle="table"
                       data-url="{% url 'performance_rank_data' %}"
                       data-side-pagination="server"
                       data-pagination="true"
                       data-page-size="50"
                       data-row-style="rankRowStyle">
                    <thead>
                    <tr>
                        <th data-field="rank">排名</th>
                        <th data-field="name">演员名字</th>
                        <th data-field="num_performances">演出场次</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


    <script>
        function rankRowStyle(row, index) {
            let rank = row.rank;
            let color;

            switch (rank) {
                case 1:
                    color = '#FFD700'; // Gold
                    break;
                case 2:
                    color = '#C0C0C0'; // Silver
                    break;
                case 3:
                    color = '#CD7F32'; // Bronze
                    break;
                default:
                    color = ''; // No font color for other ranks
            }

            return {
                css: {
                    'color': color, // 修改为 'color' 而不是 'background-color'
                },
            };
        }

        $(document).ready(function () {
            var $table = $('#actor-table');
            var $filterForm = $('#filter-form');
            var $teamFilter = $('#team-filter');

            $table.bootstrapTable();

            $teamFilter.change(function () {
                $table.bootstrapTable('refresh', {query: $filterForm.serializeObject()});
            });
        });
    </script>
{% endblock %}
