{% extends "snh48/base.html" %}

{% block title %}公演{% endblock %}

{% block content %}
    {% if ph_list %}
        <h4>公演列表</h4>

        <table class="display table table-hover" data-toggle="table"
                data-pagination="true"
                data-page-list="[10, 20, 50, 100]"
                data-mobile-responsive="true"
                data-page-size=20
                data-striped="true">
            <thead>
                <tr class="text-center">
                    <th>日期</th>
                    <th>队伍</th>
                    <th>公演</th>
                    <th>备注</th>
                </tr>
            </thead>

            <tbody>
                {% for ph in ph_list %}
                    <tr class="text-center">
                        <td><a href="{% url 'performance_history_detail' ph.id %}">{{ ph.date }}</a></td>
                        <td>
                            {% if ph.performance.team %}
                                {{ ph.performance.team }}
                            {% endif %}
                        </td>
                        <td>{{ ph.performance.name }}</td>
                        <td>{{ ph.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    {% endif %}
{% endblock %}