{% extends "snh48/base.html" %}

{% block title %}队伍信息{% endblock %}

{% block content %}

{% load static %}
<div class="row justify-content-center">
<div class="col-8">
    <div class="row team-info d-flex align-items-center mb-4">  <!-- 添加垂直居中 -->
      <div class="col-md-3 col-4 pe-3">  <!-- 右侧间距 -->
        <img class="img-fluid rounded" src="{% static 'snh48/images/team_icon/' %}{{ team_detail.icon }}"  alt="队标"/>
      </div>
      <div class="col-md-9 col-8">
        <h2 class="mb-3">{{ team_detail.name }}</h2>
        <div>成立时间 {{ team_detail.found_date }}</div>
      </div>
    </div>

<div class="row">
    <div class="col-sm-12">
        <div class="table-title">成员列表</div>
        <div class="table-responsive">
            <table class="table table-striped table-hover"
                   data-toggle="table"
                   data-pagination="true"
                   data-page-list="[20, 50, 100]"
                   data-mobile-responsive="true"
                   data-undefined-text="-"
                   data-page-size="20"
                   id="member-list">
                <thead class="thead-dark">
                    <tr>
                        <th>姓名</th>
                        <th>英文名</th>
                        <th>期数</th>
                        <th>生日</th>
                        <th>入团时间</th>
                        <th>星座</th>
                        <th>家乡</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in member_list %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'snh48:member_detail' member.id %}" target="_blank">
                                    <img class="img-fluid rounded-circle member-img" src="{{ member.image_link }}"/>
                                </a>
                                <a href="{% url 'snh48:member_detail' member.id %}" target="_blank"
                                   class="link-primary link-underline-light
                                   link-underline-opacity-100-hover">{{ member.name }}</a>
                            </th>
                            <td>{{ member.english_name }}</td>
                            <td>{{ member.batch }}</td>
                            <td>{{ member.birthday }}</td>
                            <td>{{ member.join_time }}</td>
                            <td>{{ member.constellation }}</td>
                            <td>{{ member.birth_place }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}